*.py~
*.swp
*.npy
*.csv
*.dat
*.data
*.npz
*.pkl
*.pkl.gz
*.png
*.pyc
.DS_STORE
.DS_Store
*.lprof
/basic_sear/data/*
/basic_sear/test_results/*
/generalized_ear/data/*
/generalized_ear/test_results/*
/autodisc/data/*
/nlp/trees/*
/nlp/training_text/*
